!!!
%html
  %head
    %title Brian Stack
    %meta{:name => 'description', :content => 'Brian Stack (not the comedian or mayor)'}
    %link{:href => 'stylesheets/style.css', :type => 'text/css', :rel => 'stylesheet', :media => 'all'}
    %link{ :href =>'http://fonts.googleapis.com/css?family=Josefin+Sans+Std+Light', :rel =>'stylesheet', :type => 'text/css'}
    %script{:src => 'js/prototype.js', :type => 'text/javascript'}
    %script{:src => 'js/scriptaculous.js', :type => 'text/javascript'}
    :javascript

      function goto(place, options){
                mpq.track("Section: " + place);
                Effect.ScrollTo(place, options);
               // if (place == 'about' || place == 'projects'){
                //        el = place;
                //}
               // else{
                  //      el = '';
                //}
                //setTimeout(function(){window.location.hash = el;},1000);
      }
    -#
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21494469-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    <!-- start Mixpanel --><script type="text/javascript">var mpq=[];mpq.push(["init","7dea0f3269a3d3375a62a56185ff9aa1"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();</script><!-- end Mixpanel -->

  %body
    #top
    %a.gh{:href => "http://github.com/bis12"} 
      %img{:style => "position: absolute; top: 0; right: 0; border: 0;", :src => "https://assets1.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_darkblue_121621.png&path=", :alt =>"Fork me on GitHub"}
    #container
      #header
        %h2 Brian Stack*
        *a computer science student at
        %a#cwru{:href => "http://www.case.edu/"} Case Western Reserve University
        #menu
          %ul
            %li.selected Top
            %li{:onclick => "goto('about', {duration: 1});"} About
            %li{:onclick => "goto('talks', {duration: 1});"} Talks
            %li{:onclick => "goto('projects', {duration: 1});"} Projects
        %hr
        #contact
          %span.hd things I like elsewhere
          #inner-contact
            %table.soc
              %tr.soc
                %td.soc
                  .inner
                    %a{:href => 'http://github.com/bis12'}
                      %img{:src => "images/github.png"}
                    %hr
                    %a{:href => 'http://github.com/bis12'}
                      %button See my Profile
                    #github-badge
                %td.soc
                  .inner
                    %a{:href => 'http://twitter.com/bstack01'}
                      %img{:src => "images/twitter.png"}
                    %hr
                    %a{:href => 'http://twitter.com/bstack01'}
                      %button See my Profile
                    .enc
                      My last tweet:
                      #twitter_update_list  
                %td.soc
                  .inner
                    %a{:href => 'mailto: bis12@case.edu'}
                      %img{:src => "images/mail.png"}
                    %hr
                    %a{:href => 'mailto: bis12@case.edu'}
                      %button Email Me
                    .spacer{:style => "height: 50px;"}
                    %a{:href => 'http://www.linkedin.com/pub/brian-stack/23/4ba/b27'}
                      %img{:src => "images/linked.png"}
                    %hr
                    %a{:href => 'http://www.linkedin.com/pub/brian-stack/23/4ba/b27'}
                      %button See my Profile

      #about.below
        %span.hd about me:
        .lower_menu
          %ul
            %li{:onclick => "Effect.ScrollTo('top', {offset: -50, duration: 1});"} Top
            %li.selected About
            %li{:onclick => "goto('talks', {duration: 1});"} Talks
            %li{:onclick => "Effect.ScrollTo('projects', {duration: 1});"} Projects
        %hr
        .cont
          :textile
            I just finished my second year of studying computer science in the EECS department of Case Western Reserve University in Cleveland, Ohio.  I do research on computer networks with Mark Allman and am working in New York City this summer with Bloomberg LP in a software development internship. In the past I have worked with Marc Canter at Broadband Mechanics on the People Aggregator social networking platform.  I am language and framework agnostic and always enjoy exploring new topics.  Sometimes I have things to say, if you want, you can read them "(#blog)here":http://blog.brianstack.net, or look below for some more things I do.

          :textile
            If you want to read a more traditional resume, get the pdf "(#res)here":BrianStackResume.pdf.

      #talks.below
        %span.hd talks I've given:
        .lower_menu
          %ul
            %li{:onclick => "Effect.ScrollTo('top', {offset: -50, duration: 1});"} Top
            %li{:onclick => "goto('about', {duration: 1});"} About
            %li.selected Talks
            %li{:onclick => "Effect.ScrollTo('projects', {duration: 1});"} Projects
        %hr
        .cont
          .talk{:style => "height: 250px;"}
            %b How to use your shell -
            September 7, 2011
            .tr
              :textile
                  A short talk on how to use the Unix shell (specifically bash) given as part of the CWRU Hacker Society's start of the year talk "Everything You Won't Learn About Linux In Class".  Notes for my talk are available "(tn)here":https://github.com/hacsoc/Talks/blob/master/20110907%20Intro%20Lightning%20Talks/2%20Shell.textile and everyone's notes can be found "(tn)over here":https://github.com/hacsoc/Talks/tree/master/20110907%20Intro%20Lightning%20Talks.  I wrote about how the talks went on my "(#blog)blog":http://blog.brianstack.net/adventures-in-campus-groups-pt-1 if you are interested in my thoughts on how to make a successful student group talk.
            .tl
              %img.bord{:src => "images/talk1.jpg", :width => 250}

      #projects.below
        %span.hd things I've done
        .lower_menu
          %ul
            %li{:onclick => "goto('top', {offset: -50, duration: 1});"} Top
            %li{:onclick => "goto('about', {duration: 1});"} About
            %li{:onclick => "goto('talks', {duration: 1});"} Talks
            %li.selected  Projects
        %hr
        .cont
          :textile
            h3. Research
          
            I do work trying to find patterns in internet scanning activity.  I work with Tom Dooner, another Case undergrad, to analyze more than a decades worth of BRO logs from LBNL.  We work under Mark Allman, a researcher associated with Case and ICSI in Berkeley, California.  He published a paper on this topic which you can find "(icsi)here":http://www.icir.org/mallman/papers/ , and we are taking a deeper look into their initial findings. 

            h3. Work

            h4. Bloomberg Law

            For the next couple of months, during the summer of 2011, I will be living and working in New York City.  I am an intern at Bloomberg LP, a company mostly known for their financial data and news services, but I am working on a relatively new offering of theirs in the field of law. 

            h4. Civic Commons

            For a couple of months at the beginning of the 2010-2011 school year, I helped integrate People Aggregator into a project to enable citizens of the North East Ohio area get more involved in their political process. The project can be found "(cc)here":http://www.theciviccommons.com/.  The project used People Aggregator as an engine to store users, and I helped integrate it into a Ruby on Rails application that was developed for the project. 
 
          %a#cc{:href =>"http://www.theciviccommons.com/"}
            %img.disp{:src => "images/cc.png"}
          :textile
            h4. Broadband Mechanics

            I worked over last summer as a software developer at "Broadband Mechanics":http://www.broadbandmechanics.com/, a company owned by Marc Canter.  Most of my effort went into the People Aggregator social networking platform, which is the primary product of that company.  In addition I aided in his efforts to volunteer to educate youth in STEM programs, and to build a "digital city" which you can read more about on his "blog":http://marc.blogs.it/.

            h3. Projects

            h4. Algorithms final project

            An implementation of the Edmonds-Karp algorithm of the Ford-Fulkerson method.  This is a method of solving the class of max-flow problems.  The idea is to maximally use the capacities of edges between nodes in a "flow network" which is a directed graph, and in our case, with only a single source and single sink.  Interestingly more efficient solutions to this fundamental problem are still being found, with an improvement made as recently as "2010":http://web.mit.edu/newsoffice/2010/max-flow-speedup-0927.html. 
          %a#algo{:href => "http://github.com/bis12/eecs-340-final-project"}  
            %img.disp{:src => "images/340.png"}
            

    %span#backup{:onclick => "goto('top', {offset: -50, duration: 1});"} Back to top &uarr;
    #footer
      #contact
        links to me &amp; others:&nbsp;
        %a.gh{:href => 'http://github.com/bis12'}
          %span
            Github
        %a#tw{:href => 'http://twitter.com/bstack01'}
          %span
            Twitter
        %a#blog{:href => 'http://blog.brianstack.net/'}
          %span
            Posterous
        %a#icsi{:href => 'http://www.icsi.berkeley.edu'}
          %span
            ICSI
        %a#goto{:href => 'http://goto.cwru.edu/'}
          %span
            Hacker Society
        %a#eecs{:href => 'http://engineering.case.edu/eecs/'}
          %span
            EECS @ CWRU
      #lf
        &copy; Brian Stack 2011
        %br  
      -#
        %a#mpanel{:href=>"http://mixpanel.com/f/partner"}
          %img{:src=>"http://mixpanel.com/site_media/images/partner/badge_blue.png", :alt=>"Real Time Web Analytics"}
  :javascript
    //track clicks on links to other pages.. not nav on this page
    mpq.track_links(".gh", "link: github", {});
    mpq.track_links(".cc", "link: civiccommons", {});
    mpq.track_links("#cwru", "link: cwru", {});
    mpq.track_links("#algo", "link: eecs340", {});
    mpq.track_links("#tw", "link: twitter", {});
    mpq.track_links("#blog", "link: blog", {});
    mpq.track_links("#goto", "link: HacSoc", {});
    mpq.track_links(".icsi", "link: ICSI", {});
    mpq.track_links("#eecs", "link: eecs dept", {});
    mpq.track_links("#res", "link: resume", {});
    mpq.track_links(".tn", "link: talk notes", {});


