!!!
%html
  %head
    %title Brian Stack
    %link{:href => 'stylesheets/style.css', :type => 'text/css', :rel => 'stylesheet', :media => 'all'}
    %link{ :href =>'http://fonts.googleapis.com/css?family=Josefin+Sans+Std+Light', :rel =>'stylesheet', :type => 'text/css'}
    %script{:src => 'js/prototype.js', :type => 'text/javascript'}
    %script{:src => 'js/scriptaculous.js', :type => 'text/javascript'}
    :javascript

      function goto(place, options){
                Effect.ScrollTo(place, options);
               // if (place == 'about' || place == 'projects'){
                //        el = place;
                //}
               // else{
                  //      el = '';
                //}
                //setTimeout(function(){window.location.hash = el;},1000);
      }

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21494469-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();


  %body
    #top
    %a{:href => "http://github.com/bis12"} 
      %img{:style => "position: absolute; top: 0; right: 0; border: 0;", :src => "https://assets1.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_darkblue_121621.png&path=", :alt =>"Fork me on GitHub"}
    #container
      #header
        %h2 Brian Stack*
        *a computer science student at
        %a{:href => "http://www.case.edu/"} Case Western Reserve University
        #menu
          %ul
            %li.selected Top
            %li{:onclick => "goto('about', {duration: 1});"} About
            %li{:onclick => "goto('projects', {duration: 1});"} Projects
        %hr
        #contact
          %span.hd other places you'll find me:
          .inner-contact
            %table.soc
              %tr.soc
                %td.soc
                  .inner
                    %a{:href => 'http://github.com/bis12'}
                      %img.ha{:src => "images/github.png"}
                    %a{:href => 'http://github.com/bis12'}
                      %span.soc
                        Github
                %td.soc
                  .inner
                    %a{:href => 'http://twitter.com/bstack01'}
                      %img.ha{:src => "images/twitter.png"}
                    %a{:href => 'http://twitter.com/bstack01'}
                      %span.soc
                        Twitter
                %td.soc
                  .inner
                    %a{:href => 'http://bis12.posterous.com/'}
                      %img.ha{:src => "images/posterous.png"}
                    %a{:href => 'http://bis12.posterous.com/'}
                      %span.soc
                        Posterous
          %span.hd things I like:
          .inner-contact
            %table.soc
              %tr.soc
                %td.soc
                  .inner
                    %a{:href => 'http://news.ycombinator.com/'}
                      %img.ha{:src => "images/hackernews.jpeg"}
                    %a{:href => 'http://news.ycombinator.com/'}
                      %span.soc
                        Hacker News
                %td.soc
                  .inner
                    %a{:href => 'http://goto.cwru.edu/'}
                      %img.ha{:src => "images/hacsoc.jpg"}
                    %a{:href => 'http://goto.cwru.edu/'}
                      %span.soc
                        Hacker Society
                %td.soc
                  .inner
                    %a{:href => 'http://engineering.case.edu/eecs/'}
                      %img.ha{:src => "images/cwru.jpg"}
                    %a{:href => 'http://engineering.case.edu/eecs/'}
                      %span.soc
                        EECS @ CWRU
        
      #about.below
        %span.hd about me:
        .lower_menu
          %ul
            %li{:onclick => "Effect.ScrollTo('top', {offset: -50, duration: 1});"} Top
            %li.selected About
            %li{:onclick => "Effect.ScrollTo('projects', {duration: 1});"} Projects
        %hr
        .cont
          :textile
            I am in my second year of studying computer science in the EECS department of Case Western Reserve University in Cleveland, Ohio.  I do research on computer networks with Mark Allman and will be working in New York City this summer with Bloomberg L.P. in a software development internship. In the past I have worked with Marc Canter at Broadband Mechanics on the People Aggregator social networking platform.  I am language and framework agnostic and always enjoy exploring new topics.
      #projects.below
        %span.hd things I've done
        .lower_menu
          %ul
            %li{:onclick => "goto('top', {offset: -50, duration: 1});"} Top
            %li{:onclick => "goto('about', {duration: 1});"} About
            %li.selected  Projects
        %hr
        .cont
          :textile
            h3. Research
          
            I do work trying to find patterns in internet scanning activity.  I work with Tom Dooner, another Case undergrad, to analyze more than a decades worth of BRO logs from LBNL.  We work under Mark Allman, a researcher associated with Case and ICSI in Berkeley, California.  He published a paper on this topic which you can find "here":http://www.icir.org/mallman/papers/ , and we are taking a deeper look into their initial findings. 

            h3. Work

            h4. Broadband Mechanics

            I worked over last summer as a software developer at "Broadband Mechanics":http://www.broadbandmechanics.com/, a company owned by Marc Canter.  Most of my effort went into the People Aggregator social networking platform, which is the primary product of that company.  In addition I aided in his efforts to volunteer to educate youth in STEM programs, and to build a "digital city" which you can read more about on his "blog":http://marc.blogs.it/.

            h4. civic commons

            For a couple of months at the beginning of the 2010-2011 school year, I helped integrate People Aggregator into a project to enable citizens of the North East Ohio area get more involved in their political process. The project can be found "here":http://www.theciviccommons.com/.  The project used People Aggregator as an engine to store users, and I helped integrate it into a Ruby on Rails application that was developed for the project. 
             
            h3. Projects

            h4. cwru ideas

            A project that a friend and I worked on briefly with the aim of improving communication between students and administration.  More to come...

            h4. Algorithms final project

            An implementation of the Edmonds-Karp algorithm of the Ford-Fulkerson method.  Pretty pictures here soon...

    #footer
      &copy; Brian Stack 2011
      %br    
        
