
body{ 
  margin: 0;
  padding: 0;
  background: $bg-color url('images/bg.png') fixed;
  color: $text-color;
  font-family: 'Josefin Sans Std Light', arial, serif;
  font-size: 1.4em;
}


#container{
	width: 900px;
	@include center;
}
#header{
	margin-top: 50px;
	padding: 20px;
	/*height: 500px;*/
  	background: rgba(250,250,250, 0.8);
	border: #aaa 2px dashed;
}

#menu{
	float: right;
	position: relative;
	bottom: 110px;
	li{
	padding: 2px;
	background: rgba(208,208,208,0.3);
	border: 1px solid #bbb;
	display: inline;
	list-style-type: none;
}
	li.selected{
	@include transparency(0.2);
}
	li:hover{
	background: #bbb;
	cursor: pointer;
	cursor: hand;
}
}
.lower_menu{
	float: right;
	position: relative;
	bottom: 18px;
	li{
	padding: 2px;
	background: rgba(208,208,208,0.3);
	border: 1px solid #bbb;
	display: inline;
	list-style-type: none;
}
	li.selected{
	@include transparency(0.2);
}
	li:hover{
	background: #bbb;
	cursor: pointer;
	cursor: hand;
}
}
#contact{
	float: right;
	a{
		color: #ffe;
		padding: 2px;
		border-bottom: 2px solid #334;
		margin-right: 7px;
	}
}

#lf {
	float:left;
}

#github-badge{
	margin-top: 5px;
	padding: 3px;
	border: 1px dashed #999;
	border-radius: 2px;
	background: rgba(255,255,255,0.2);
	-moz-border-radius: 2px;
	font-family: helvetica;
	ul{
		font-family: "Helvetica";
		text-shadow: #ccc 1px 1px 1px;
		list-style-type: none;
		a{
			color: #4183C4;
			font-weight: bold;
		}
	}
}

span.hd{
	color: $text-color;
	margin-bottom: 10px;
	font-size: 1.5em;
	text-shadow: 2px 2px 2px #999;
	letter-spacing: 7px;
}

img.ha {
	height: 50px;
	@include transparency(0.70);
	&:hover{
	@include transparency(0.95);
	}	
}

@mixin img_border($wid: 7px){
	border: $wid solid #446;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-box-shadow: 3px 3px 4px #888;
	-webkit-box-shadow: 3px 3px 4px #888;
	box-shadow: 3px 3px 4px #888;
}

img.disp {
	width: 600px;
        margin-left: 130px;
        @include img_border(7px);
	&:hover{
	border: 7px solid #9b7;
	}
}

.inner{
	height: 50px;
}

.enc{
	background-color: rgba(255,255,255,0.2);
	font-family: helvetica;
	margin-top: 5px;
	padding: 5px;
	border: 1px dashed #999;
	border-radius: 2px;
	-moz-border-radius: 2px;
	font-size: 14px;
	li{
	 list-style-type: none 
}
}

.below{
	margin-top: 20px;
	padding: 15px;
	background-image: -moz-linear-gradient(100% 100% 90deg, rgba(255,255,255,0.8), rgba(255,255,255,0.6));
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, to(rgba(255,255,255,0.8)), from(rgba(255,255,255,0.6)));
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #ccc;
	line-height: 30px;
	.cont{
		h3{
  			font-family: 'Josefin Sans Std Light', arial, serif;
			color: #333;
			font-size: 21px;
		}
		h4{
  			font-family: 'Josefin Sans Std Light', arial, serif;
			color: #333;
			font-size: 18px;
		}
	font-family: arial;
	text-shadow: #888 1px 1px 1px;
	color: #333;
	font-size: 17px;
}
}

#footer {
  border-top: 2px #ccc dashed;
  margin-top: 100px;
  padding: 30px;
  background: url("images/footer.png") $text-color;
  color: $bg-color;
  height: 170px;
}

.talk {
	padding: 4px;
	margin: 10px;
}

.tr {
  float: right;
  padding-top: 8px;
  margin-right: 15px;
  position: relative;
        width: 530px;
}
.tl {
        float: left;
        position: relative;
        width: 250px;
        margin-top: 3px;
}

.bord{
  border: 3px solid #aaa;
  @include img_border(3px);
}

span#backup{
  float: right;
  font-size: 15px;
  margin-right: 10px;
  margin-top: 60px;
&:hover{
	cursor: pointer;
	cursor: hand;
}
}

#mpanel{
position: relative;
bottom: -157px;
left: -150px;
}
