$page-width: 1200px;
$bg-color: #efeff1;
$text-color: #1f1f30;

$fb-gradient-style: matte;
$fb-radius: 4px;
$fb-font-size: 14px;
$fb-line-height: 1.0em;
$fb-font-weight: 300;
@import "fancy-buttons";

@mixin transparency($percent: 0.5) {
  filter:alpha(opacity=$percent*100);
  -moz-opacity: $percent;
  -khtml-opacity: $percent;
  opacity: $percent;
}

@mixin center {
  margin-left: auto;
  margin-right: auto;
}


.site{
  margin: 20px;
  padding: 15px;
  width: 500px;
  background-color: #fff;
  border: 1px solid #aaa;
}

img{
border: none;
}

button { 
	@include fancy-button(#678); 
}

//Pull in all of the sheets into one big happy css family!
@import "page";
@import "text";
@import "ie";
@import "ie6";
